<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" />
        
        <!--optional star ratings-->
        <!--
           <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        --> 
       <title>FoodChain</title> 
    </head>
    <body>
        <div class="grid-container">
            <header class="row">
                <div>
                    <a class = "brand" href="index.html">FoodChain</a>
                </div>
                <div>
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <main>
                <div class="row center">
                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="./images/appleImage.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Organic Apples</h2>
                            </a>

                            <div class="price">
                                $1.3 / pound.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="./images/bananaImage.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Organic Bananas</h2>
                            </a>
                            <div class="price">
                                $7 / dozen.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="./images/blueberryImage.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Blueberries</h2>
                            </a>
                            <div class="price">
                                $0.6 / pound.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="./images/broccoliImage.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Broccoli </h2>
                            </a>
                            <div class="price">
                                $1.9 / pound.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="./images/cabbageImage.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Cabbage</h2>
                            </a>
                            <div class="price">
                                $1.5 / pound.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="./images/carrotImage.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Organic Carrots</h2>
                            </a>
                            <div class="price">
                                $2 / pound.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="./images/cocoabeanImage.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Organic Cocoa CoffeeBeans</h2>
                            </a>
                            <div class="price">
                                $16 / pound.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="./images/coffeebeanImage.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Organic CoffeeBeans</h2>
                            </a>
                            <div class="price">
                                $3 / pound.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="./images/cornImage.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Organic Corn</h2>
                            </a>
                            <div class="price">
                                $3.5 / bushel.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="./images/lettuceImage.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Organic Lettuce</h2>
                            </a>
                            <div class="price">
                                $0.7 / pound.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="./images/orangeImage.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Organic Oranges</h2>
                            </a>
                            <div class="price">
                                $1.3 / pound.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="./images/potatoImage.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>White Potatoes</h2>
                            </a>
                            <div class="price">
                                $0.7 / pound.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="./images/rasberriesImage.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Rasberries</h2>
                            </a>
                            <div class="price">
                                $8.4 / pound.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="./images/redOnionImage.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Red Onions</h2>
                            </a>
                            <div class="price">
                                $1.4 / pound.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="./images/springOnionImage.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Spring Onions</h2>
                            </a>
                            <div class="price">
                                $2 / pound.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <img class="medium" src="./images/strawberryImage.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Strawberries</h2>
                            </a>
                            <div class="price">
                                $3.5 / pound.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="./images/tealeavesImage.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Herbal Tea Leaves</h2>
                            </a>
                            <div class="price">
                                $25 / pound.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="./images/tomatoImage.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Roma Tomatoes</h2>
                            </a>
                            <div class="price">
                                $2 / pound.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="./images/watermelonImage.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Watermelon</h2>
                            </a>
                            <div class="price">
                                $0.4 / pound.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="./images/whiteOnionImage.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>WhiteOnions</h2>
                            </a>
                            <div class="price">
                                $1.5 / pound.
                            </div>
                        </div>
                    </div>


                </div>
            </main>
            <footer class="row center">All rights are reserved.</footer>
        </div>

    </body>
</html>